# Data Cleaning Example
This notebook demonstrates basic data loading, cleaning, and visualization.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', None, 'Eve'],
    'age': [25, None, 35, 28, None],
    'score': [88, 92, None, 70, 95]
})
df

## Clean missing values

In [ ]:
df_clean = df.dropna()
df_clean

## Simple Visualization

In [ ]:
plt.figure(figsize=(6,4))
plt.plot(df_clean['age'], df_clean['score'])
plt.xlabel('Age')
plt.ylabel('Score')
plt.title('Score vs Age')
plt.show()